<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>Tweets</h1>
  

</div>

<div class="card mb-3">
  <% @tweets.reverse.each do |tweet| %>
    <div class="card-body col-sm-3">
      <div class="thumbnail">
        <%= link_to(image_tag(tweet.image), tweet) if tweet.image? %>
        <div class="caption">
          <h3><%= tweet.user_id %></h3>
          <p><%= tweet.content.truncate(150)  %></p>
          <small><%= time_ago_in_words(tweet.created_at) %> ago</small>
          <p><% link_to 'Show', tweet, class: "btn btn-primary" %></p>
          <p><%= link_to 'Edit', edit_tweet_path(tweet) %>  |
          <%= link_to 'Eliminar', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-buttom' %>
</div>




